body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 35px;
    background-image: url('./kdf3w7-e1621870258954.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    margin: 10px;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    border: transparent;
    background: rgba(255, 255, 255, 0.521);
    backdrop-filter: blur(5px) saturate(160%);
    box-shadow: 2px 2px 4px #4b4b4b;
    transition-duration: 0.4s;
}

button:hover {
    background: white;
    cursor: pointer;
}

h1 {
    background: rgba(255, 255, 255, 0.626);
    width: 300px;
    text-align: center;
}

header > h1 {
    background: rgba(255, 255, 255, 0.662);
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.564);
    color: white;
    border-radius: 100px;
    width: 125px;
    height: 17px;
    padding: 0.5em 0.3em;
    backdrop-filter: blur(5px) satrurate(160%);
    transition-duration: 0.4s;
}
/* Uncomment this is you want a hover effect on the text! */
/*
header > h1:hover {
    font-size: 1rem;
    cursor: pointer;
    padding: 0.7em 0.5em;
}
*/

img {
    border-radius: 300px;
    box-shadow: 2px 2px 4px #4b4b4b;
    margin: 10px;
    transition-duration: 0.4s;
}

img:hover {
    width: 110px;
    height: 110px;
    cursor: pointer;
}